extends layout

block content
  // Navbar
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.brand(href='#') #{title}
        ul.nav
          li.active
            a(href='#') Workspace
          li
            a(href='#aboutModal', data-toggle='modal') About
          li
            a(href='#contactModal', data-toggle='modal') Contact Us

  // "About" Modal
  #aboutModal.modal.hide.fade(tabindex='-1', role='dialog')
    .modal-header
        button.close(type='button', data-dismiss='modal') ×
        h3 About
      .modal-body
        p Nere is an experimental web app that allows you to broadcast files and messages to devices physically near you.
        p Built by Ray Zhou and Hansen Qian. We're a duo of Stanford and Princeton undergraduate freshman who love hacking and social coding. Enjoy!
      .modal-footer
        button.btn(data-dismiss='modal') Close

  // "Contact Us" Modal
  #contactModal.modal.hide.fade(tabindex='-1', role='dialog')
    .modal-header
        button.close(type='button', data-dismiss='modal') ×
        h3 Contact Us
      .modal-body
        p Questions? Comments? We'd love to hear from you!
        p Shoot us an email at <a href='#'><strong>support@nere.com</strong></a>, and we'll get back to you when we can!
      .modal-footer
        button.btn(data-dismiss='modal') Close

  // Infobar
  .infobar
    strong(style='float: right;') Lobby #{ipaddress}

  // Sidebar (client name, file sender, & nearby users)
  .sidebar
    .self-block
      strong You:
      &nbsp;&nbsp;
      input(type='text', value='')
    .file-sender
      button.btn.btn-primary.btn-large.btn-block Share New File
    .title-block
      strong People Near You
      &nbsp;
      i.icon-globe
    .users

  // Posts and file uploads
  .main
    .main-block
      .posts-container

  // Messenger
  .messenger
    .chat-sender
      input(type='text', placeholder='What&#39;s on your mind?')

// Init JS
block footerJs
  script
    var socket = io.connect(window.location.hostname);
    socket.emit('Initialize IP', !{JSON.stringify(ipaddress)});
