extends layout

block content
  // Navbar
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.brand(href='#') #{title}
        ul.nav
          li.active
            a(href='#') Workspace
          li
            a(href='#aboutModal', data-toggle='modal') About
          li
            a(href='#contactModal', data-toggle='modal') Contact Us

  // "About" Modal
  #aboutModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3#myModalLabel About
      .modal-body
        p One fine body…
      .modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Close

  // "Contact Us" Modal
  #contactModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3#myModalLabel Contact Us
      .modal-body
        p One fine body…
      .modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Close

  // Infobar
  .infobar
    strong Stanford, California
    strong(style='float: right;') Lobby #{ipaddress}

  // Sidebar (client name; file sender; list of nearby users)
  .sidebar
    .self-block
      strong You:
      &nbsp;&nbsp;
      input(type='text', value='')
    .file-sender
      button.btn.btn-primary.btn-large.btn-block Send New File
    .title-block
      strong People Near You
      &nbsp;
      i.icon-globe
    .users

  // Posts and file uploads
  .main
    .main-block
      .posts-container

  // Messenger
  .messenger
    .chat-sender
      input(type='text', placeholder='What is on your mind?')

// Init JS
block footerJs
  script
    var socket = io.connect(window.location.hostname);
    socket.emit('Initialize IP', !{JSON.stringify(ipaddress)});