extends layout

block content
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.brand(href='#') #{title}
        ul.nav
          li.active
            a(href='#') Workspace
          li
            a(href='#') About
          li
            a(href='#') Contact Us
  .infobar
    strong Stanford, California
    strong(style='float: right;') Lobby #{parsedip}
  .sidebar
    .self-block
      strong You:
      &nbsp;&nbsp;
      input(type='text', value='')
    .file-sender
      button.btn.btn-primary.btn-large.btn-block Send New File
    .title-block
      strong People Near You
      &nbsp;
      i.icon-globe
    .users
  .main
    .main-block
      .posts-container
  .messenger
    .chat-sender
      input(type='text', placeholderg='What is on your mind?')
