extends layout

block content
  h1= title
  p Welcome to #{title}!
  p Testing some Twitter Bootstrap stuff...
  button.btn.btn-primary(data-toggle="button") Single Toggle!
  br
  br
  p Here's an icon: <i class="icon-search"></i>
  br
  p Your IP address is: #{ipaddress}
  br
  p The websocket is sending you a message! Here it is...
  .yourname
  br
  p List of all clients with your IP address: 
  .allusers
  br
  p List of files that people have sent you:
  .allfiles
  br
  br
  br
  p There's a chat client below here!
  #chatClient
    #connecting
      .wrap Connected with socket.io to node.js server.
    #messages
      #users
      #lines
    form#send-message
      input#message
      button Send

  script
    socket.on('this', function (data) {
      $('.welcome').append(data);
      socket.emit('join room', !{ipaddress});
      var name = checkCookie();
      socket.clientName = name;
      socket.emit('setname', name);
      socket.emit('get all nearby');
    });





