extends layout

block content
  // Navbar
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        .brand #{title}
        ul.nav
          li.active
            a#chat Chat
          li
            a(href='#aboutModal', data-toggle='modal') About

  // "Get Started" Modal
  #gsModal.modal.hide.fade(tabindex='-1', role='dialog')
    .modal-header
      h3 Get Started with nere
    .modal-body
      p Chat with people around you, literally.
      p nere uses location data or your ip address to create chat rooms of people around you.
      p Click 'Allow' to begin! 
      img(src='/images/locPrompt_chrome.png')
    .modal-footer
      button.btn Use IP Address Instead

  // "Rooms" Modal
  
    

  // "About" Modal
  #aboutModal.modal.hide.fade(tabindex='-1', role='dialog')
    .modal-header
      button.close(type='button', data-dismiss='modal') ×
      h3 About
    .modal-body
      p Nere is an web application that allows you to broadcast files and messages to devices physically nearby. 
      p Built by Ray Zhou and Hansen Qian. We're a duo of Stanford and Princeton undergraduate freshmen who love hacking and social coding. Enjoy!
    .modal-footer
      button.btn(data-dismiss='modal') Close

  // Infobar
  .infobar
    strong(style='float: right;') Lobby #{ipaddress}

  // Sidebar (client name, file sender, & nearby users)
  .sidebar
    .self-block
      strong You:
      &nbsp;&nbsp;
      input(type='text', value='')
    .room-block
      strong Room:
      &nbsp;&nbsp;
      input(type='text', value='')
    .file-sender
      button.btn.btn-primary.btn-large.btn-block Share New File
    .title-block
      strong People Near You
      &nbsp;
      i.icon-globe
    .users

  // Posts and file uploads
  .main
    .main-block
      .posts-container

  // Messenger
  .messenger
    .chat-sender
      input(type='text', placeholder='What&#39;s on your mind?')

// Init JS
block footerJs
  script
    var socket = io.connect(window.location.hostname);
    var ipAddress = !{JSON.stringify(ipaddress)}
