extends layout

block content
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.brand(href='#') 
        ul.nav
          li.active
            a(href='#') Workspace
          li
            a(href='#') About
          li
            a(href='#') Contact Us
  .infobar
    strong Stanford, California
    strong(style='float: right;') Lobby #{parsedip}
  .sidebar
    .self-block
      strong You:
      &nbsp;&nbsp;
      input(type='text', value='eUfgKo13ElUfdiaD_HZK')
    .file-sender
      button.btn.btn-primary.btn-large.btn-block Send New File
    .title-block
      strong People Near You
      &nbsp;
      i.icon-globe
    .user-block
      i.icon-user
      &nbsp;&nbsp;
      strong Hansen
    .user-block
      i.icon-user
      &nbsp;&nbsp;
      strong Ray
    .user-block
      i.icon-user
      &nbsp;&nbsp;
      strong Mv2JQcUsmKCDoE8GQbpV
  .main
    .main-block
      .posts-container
  .messenger
    .chat-sender
      input(type='text', placeholder='What\'s on your mind?')
