doctype 5
html
  head
    title= title

    // Styles
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')


    // Google Analytics
    script(type='text/javascript')
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37624872-1']);
        _gaq.push(['_setDomainName', 'nereby.com']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  body
    block content

    // Javascript
    script(src='/javascripts/jquery-1.8.3.js')
    script(src='/bootstrap/js/bootstrap.js')
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript', src='https://api.filepicker.io/v1/filepicker.js')
    script
      filepicker.setKey('APPZ6TldTRvLI9AZgItcyz');

    block footerJs

    // more Javascript
    script(src='/javascripts/location.js')
    script(src='/javascripts/index.js')
    script(src='/javascripts/layout.js')

