doctype 5
html
  head
    title= title

    // Styles
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body

    block content

    // Javascript
    script(src='/javascripts/jquery-1.8.3.js')
    script(src='/bootstrap/js/bootstrap.js')
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript', src='https://api.filepicker.io/v1/filepicker.js')
    script
      filepicker.setKey('APPZ6TldTRvLI9AZgItcyz');

    block footerJs

    // more Javascript
    script(src='/javascripts/index.js')
    script(src='/javascripts/layout.js')
    script(src='/javascripts/location.js')

