.navbar .container {
  width: 90%;
}

.infobar {
  position: fixed;
  height: 35px;
  width: 100%;
  top: 40px;
  left: 0;
  background-color: #333333;
  color: white;
  z-index: 1;
}

.infobar strong{
  margin-left: 20px;
  margin-right: 20px;
  line-height: 35px;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 275px;
  top: 0;
  right: 0;
  padding-top: 75px;
  border-left: 3px solid #333333;
  z-index: 0;
  background-image:url("/subtlepatterns/gray_jean/gray_jean.png");
  background-repeat:repeat;
}

.sidebar .self-block {
  border-bottom: 3px solid #333333;
  padding: 20px;
  background-color: #f7f7f7;
}

.self-block input{
  margin: 0;
  width: 150px;
}

.sidebar .title-block {
  border-bottom: 1px solid #aaaaaa;
  padding: 5px 0px 5px 75px;
  background-color: #fafafa;
  cursor: default;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
}

.sidebar .user-block {
  border-bottom: 1px solid #aaaaaa;
  padding: 20px;
  background-color: #ffffff;
  cursor: default;
}

.file-sender {
  border-bottom: 3px solid #333333;
}

.file-sender .btn-block{
  font-weight: bold;
  height: 50px;
  width: 275px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.main {
  position: fixed;
  height: 100%;
  width: 100%;
  bottom: 40px;
  left: 0;
  background-color: green;
  border-left: 3px solid #333333;
  z-index: -1;
  overflow: scroll;
}

.main .main-block{
  padding-top: 135px;
  padding-left: 20px;
  padding-right: 288px;
}

.main .main-block .posts-container {
  display: block;
  width: 100%;
  background-color: red;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.messenger{
  border: 3px solid #333333;
  position: fixed;
  height: 55px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #f0f0f0;
  z-index: -1;
}

.messenger .chat-sender{
  padding-right: 281px;
}

.messenger .chat-sender input{
  float: right;
  height: 55px;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 15px;
  padding-right: 18px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}